.medium_40 {
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 57px;
}

.medium_16 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.regular_16 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.regular_18 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.medium_18 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.medium_20 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.regular_20 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.medium_22 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}